/*
Error: Invalid CSS after "    }": expected selector or at-rule, was "}"
        on line 305 of public/css/style.scss

300:             // transform: translateX(101px);
301:             margin-left: 101px;
302:             transition: margin-left .45s cubic-bezier(0.77, 0, 0.175, 1);
303:         }
304:     }
305: }
306: 
307: // dashboard jobs sidemenu (inner)
308: 
309: #jobs-sidemenu {
310:     display: flex;

Backtrace:
public/css/style.scss:305
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1308:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1238:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:42:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:414:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:307:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:294:in `watch'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:109:in `method_missing'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:354:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:51:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:50:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:18:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    }\": expected selector or at-rule, was \"}\"\A         on line 305 of public/css/style.scss\A \A 300:             // transform: translateX(101px);\A 301:             margin-left: 101px;\A 302:             transition: margin-left .45s cubic-bezier(0.77, 0, 0.175, 1);\A 303:         }\A 304:     }\A 305: }\A 306: \A 307: // dashboard jobs sidemenu (inner)\A 308: \A 309: #jobs-sidemenu {\A 310:     display: flex;"; }
