*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

a:link,
a:visited {
    text-decoration: none;
}

ul {
    list-style: none;
}

.form-control:focus {
    border-color: gray !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

// header
#header-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 14px 16px;
    display: flex;
    justify-content: space-between;
    // box-shadow: 3px 0px 10px #00000029;
    background-color: #303150;

    .menu-logo {
        display: flex;
        align-items: center;

        #menu-trigger {
            position: relative;
            height: 20px;
            width: 20px;
            margin-left: 19px;

            span {
                display: block;
                width: 20px;
                height: 2px;
                background-color: #ffffff;
                position: absolute;
                left: 0;

                // margin-left: 13px;
                &:nth-child(1) {
                    top: 0px;
                    opacity: 1;
                    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
                }

                &:nth-child(2) {
                    top: 8px;
                }

                &:nth-child(3) {
                    top: 8px;
                }

                &:nth-child(4) {
                    top: 16px;
                    opacity: 1;
                    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);

                }
            }
        }

        .menu-img {
            background: #fff;
            border-radius: 10px 0px;
            margin-left: 41px;
            padding-left: 9px;
        }
    }

    .search-avatar {
        display: flex;
        align-items: center;

        .input-search {
            position: relative;
            flex-basis: 500px;

            input {
                width: 500px;
                border-radius: 4px;
                height: 50px;
                background-color: #4B4C74;
                padding: 5px;
                padding-left: 16px;
                border: none;
                color: #ffffff;

                &::placeholder {
                    color: #ffffff;
                }

                &:focus {
                    border: none;
                    outline: none;
                }
            }

            .search-btn {
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                color: #ffffff;
            }
        }

        img {
            margin-left: 100px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }
    }
}

// side menu
#side-menu {
    .side-menu-wrapper {
        position: fixed;
        top: 63px;
        left: -93px;
        background-color: #ffffff;
        padding: 12px 11px;
        box-shadow: 3px 0px 10px #00000029;
        width: 93px;
        z-index: 1;
        transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
    }

    ul.menu-main {
        height: calc(100vh - 79px);
        overflow-y: auto;

        li {
            &:not(:last-child) {
                margin-bottom: 8px;
            }

            a {
                color: #444446;
                font-size: 11px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            &.active-link {
                a {
                    color: #2C4986 !important;
                }
            }

            &.open {
                &>p::after {
                    content: "∧";
                }
            }

            p {
                word-break: break-word;
            }

            &>p {
                &::after {
                    content: "∨";
                    vertical-align: middle;
                    padding-left: 4px;
                    font-size: 9px;
                    vertical-align: middle;
                    font-weight: 400;
                }

                -webkit-user-select: none;
                /* Safari */
                -moz-user-select: none;
                /* Firefox */
                -ms-user-select: none;
                /* IE10+/Edge */
                user-select: none;
                /* Standard */
                text-align: center;
                background: #303150;
                border-radius: 10px;
                color: #fff;
                font-size: 10px;
                padding: 2px 0px;
                cursor: pointer;
            }

            ul.own__sub {
                // visibility: hidden;
                // transform: translateY(-145px);
                transform: scaleY(0);
                height: 0;
                transform-origin: top;

                // transition: height .45s cubic-bezier(0.77, 0, 0.175, 1);
                &-active {
                    //  transform: translateY(0px);
                    transform: scaleY(1);
                    transform-origin: top;
                    height: auto;

                    // visibility: visible;
                    // transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);

                }
            }
        }

        hr {
            margin-top: 0;
        }
    }
}

// main container
#main-container {
    margin-top: 77px;
    transition: margin-left .45s cubic-bezier(0.77, 0, 0.175, 1);

    .greetings-box {
        background: transparent repeating-linear-gradient(125deg, #272943 0%, #36386A 34%) 0% 0% no-repeat padding-box;
        padding: 30px 18px;
        display: flex;
        justify-content: space-between;

        h2 {
            color: #ffffff;
        }
    }
}

// when menu is open
body {
    &.menu-open {
        #header-container {
            #menu-trigger {
                span {
                    &:nth-child(1) {
                        top: 0px;
                        opacity: 0;
                    }

                    &:nth-child(2) {
                        top: 8px;
                        transform: rotate(135deg);
                        transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
                    }

                    &:nth-child(3) {
                        top: 8px;
                        transform: rotate(45deg);
                        transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
                    }

                    &:nth-child(4) {
                        top: 16px;
                        opacity: 0;
                    }
                }
            }
        }

        #side-menu {
            .side-menu-wrapper {
                transform: translate3d(93px, 0, 0);
                transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
            }
        }

        #main-container {
            // transform: translateX(93px);
            margin-left: 93px;
            transition: margin-left .45s cubic-bezier(0.77, 0, 0.175, 1);
        }
    }
}

// dashboard jobs sidemenu (inner)

#jobs-sidemenu {
    display: flex;
    flex-direction: column;

    .buttons {
        display: flex;
        padding: 5px 7px;
        background: #fff;
        border: #dddddd 1px solid;
        margin-bottom: 8px;

        a {
            display: flex;
            align-items: center;
            font-size: 13px;
            color: #222222;
            width: 100%;

            p {
                margin: 0;
                padding-left: 6px;
                text-align: left;
            }
        }

        &.active {
            border: #303150 2px solid;
            background: #303150;

            a {
                color: #f8f8f8;
            }

            &:hover {
                border: #303150 2px solid;
                background: #303150;

                a {
                    color: #f8f8f8;
                }
            }
        }

        &:hover {
            border: #303150 0.5px solid;

            a {
                color: #303150;
            }
        }
    }
}

// job create sidemenu
#create-new-button {
    display: flex;
    margin-bottom: 20px;

    button {
        background: #ffff;
        border: 0;
        color: #474747;
        padding: 22px 18px;
        border-radius: 40px;
        box-shadow: 0px 5px 15px #00000029;

        img {
            width: 30px;
            padding-right: 10px;
        }
    }
}